<main [ngSwitch]="portfolioService.coins.length > 0">
  <h2 *ngSwitchDefault class="loading">
    Loading...
  </h2>
  <div *ngSwitchCase="true">
    <div class="table-container">
      <table id="portfolioTable" class="table table-responsive table-hover">
        <caption>Portfolio</caption>
        <thead>
        <tr>
          <th class="text-capitalize text-right"
              (click)="handleNewSort('rank')"
          >coin
          </th>
          <th class="text-capitalize text-right"
              (click)="handleNewSort('price_usd')"
          >$
          </th>
          <th class="text-capitalize text-right"
              (click)="handleNewSort('market_cap')"
          >market cap
          </th>
          <th class="text-capitalize text-right"
              (click)="handleNewSort('volume_usd')"
          >Volume
          </th>
          <th class="text-capitalize text-right"
              (click)="handleNewSort('percent_change_24h')"
          >%
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor=" let coin of sortedData()">
          <td>
            <span>{{coin.rank}}</span>
            <a href="{{'https://coinmarketcap.com/currencies/' + coin.id}}" target="_blank">
              <span [class]="'icon icon-' + coin.symbol.toLowerCase()"></span>
              {{coin.id}}
            </a>
          </td>
          <td class="text-right">{{coin.price_usd | currency }}</td>
          <td class="text-right">{{coin.market_cap_usd | number: '1.0' }}</td>
          <td class="text-right">{{coin.volume_usd_24 | number : '1.0'}}</td>
          <td class="text-right">{{coin.percent_change_24h | number }}</td>
        </tr>


        </tbody>
        <tfoot style="font-size: large">
        <tr>
          <td><b>
            Equivalent Value:
          </b></td>
          <td
            title="Equivalent BTC"
            [attr.colspan]="4"
            class="text-right"
          >
            {{portfolioService.totalBTC() | number}} btc
          </td>
        </tr>
        <tr>
          <td
            title="Equivalent $"
            [attr.colspan]="5"
            class="text-right"
          >

            {{portfolioService.totalUSD() | currency}}
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</main>

