<div class="card">
  <div class="card-body">
    <h5 class="card-title">Summary of Assets</h5>
    <table id="portfolioTable" class="table table-responsive">
      <thead>
      <tr>
        <th class="text-capitalize text-left"
        >asset
        </th>
        <th class="text-capitalize text-right"
        >Price
        </th>
        <th class="text-capitalize text-right">
          Quantity
        </th>

        <th class="text-capitalize text-right">
          <form>
            <select
              title="timeframe"
              type="number"
              id="currentTimeFrame"
              [(ngModel)]="input.currentTimeFrame"
              #currentTimeFrame="ngModel"
              name="currentTimeFrame"
              class="form-control-sm"
            >
              <option value="1h">1 hr %</option>
              <option value="24h">24 hr %</option>
              <option value="7d">7 d %</option>
            </select>
          </form>
        </th>
        <th class="text-capitalize text-right"
        >Volume
        </th>
        <th class="text-capitalize text-right">
          total
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!data.length">
        <td colspan="5">
          No items...
        </td>
      </tr>
      <tr *ngFor="let coin of data">
        <td class="text-left">
          <a
            [style.color]="portfolioService.colors[coin.symbol.toLowerCase()]"
            href="{{'https://coinmarketcap.com/currencies/' + coin.id}}" target="_blank">
              <span class="text-right rank">
                {{coin.rank}}
              </span>
            <span [class]="'icon icon-' + coin.symbol.toLowerCase()"></span>
            {{coin.id}}
          </a>
        </td>
        <td class="text-right mono">
          {{coin.price_usd | currency }}
          <div *ngIf="coin.symbol.toLowerCase() !== 'btc'">
            <br/>
            {{coin.price_btc | precision}}
            btc
          </div>
        </td>
        <td class="text-right mono">
          {{coin.coins | number}}
        </td>
        <td class="text-right mono"
            [class.text-danger]="coin['percent_change_' + input.currentTimeFrame] < 0"
            [class.text-success]="0 <= coin['percent_change_' + input.currentTimeFrame]"
        >

          {{coin['percent_change_' + input.currentTimeFrame] | number }} %
        </td>
        <td class="text-right mono">
          {{coin.volume_usd_24 | lgNumPipe}}
        </td>
        <td class="text-right mono">
          {{coin.coins * coin.price_usd | currency}}
        </td>
      </tr>


      </tbody>
      <tfoot>
      <tr>
        <td class="px-3 text-right" colspan="6" style="font-size: 1.2rem;">
          <p class="mono">
            {{totalUSD | currency}}
          </p>
          <p>
            <span class="mono">{{totalBTC | number}}</span>
            <app-coin-icon symbol="btc"></app-coin-icon>
          </p>
        </td>
      </tr>
      </tfoot>

    </table>
  </div>
</div>



