.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}


.table-container {

    height: 60vh;
    min-height: 100px;
    max-height: 800px;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

tbody tr {
    width: 100%;
}

table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
