<div class="card">
  <h3 class="card-header">Edit Portfolio</h3>
  <div class="card-body">


    <label class="text-capitalize">current portfolio</label>
    <textarea
      rows="5"
      (click)="newPortfolio.value = coinsJson"
      class="form-control"
      [value]="coinsJson"
    >

</textarea>

    <br/>
    <br/>


    <label class="text-capitalize">new portfolio</label>
    <textarea
      rows="5"
      (keyup.enter)="handleSubmit(newPortfolio.value); newPortfolio.value = ''; "
      class="form-control"
      #newPortfolio
    >

</textarea>
    <br/>


    <button
      (click)="handleSubmit(newPortfolio.value); newPortfolio.value = '';"
      class="btn btn-primary">Submit
    </button>


    <button
      (click)="handleDelete();"
      class="btn btn-danger">
      Delete
    </button>

  </div>
</div>
<footer class="container">

  <div class="row flex-row">
    <a routerLink="/" class="btn btn-primary">Home</a>
  </div>
</footer>
