<tr class="d-flex justify-content-center">
  <td>
    <app-coin-icon [symbol]="mapNameToSymbol(coin.id)"></app-coin-icon>
    <small>
      {{coin.id}}
    </small>
  </td>
  <td>

    <span *ngIf="!editMode" class="text-right mono">

    {{coin.quantity | number}}
    </span>
    <form *ngIf="editMode" novalidate (submit)="handleSubmit(coin.id, model.quantity);">
      <div class="input-group">
        <input
          type="number"
          step="any"
          autocomplete="false"
          [(ngModel)]="model.quantity"
          name="quantity"
          title="quantity"
          id="quantity"
          class="form-control"
        >
      </div>
    </form>
  </td>

  <td class="text-right">
    <button class="btn btn-sm btn-outline-danger" (click)="portfolioService.deleteCoin(coin.id)">
      <i class="fas fa-trash"></i>
    </button>
  </td>
</tr>
