<div class="container-fluid">
  <nav class="my-3">
    <ul class="nav d-flex justify-content-center align-items-center">

      <li class="nav-item px-1">
        <a routerLink="/portfolio/add" routerLinkActive="active" class="nav-link">
          <i class="fas fa-plus"></i>
          Add Coin</a>
      </li>

      <li class="nav-item px-1">
        <a routerLink="/portfolio/edit" class="nav-link" routerLinkActive="active">
          <i class="fas fa-minus"></i>
          Edit Portfolio</a>
      </li>

      <li class="nav-item px-1">
        <a
          class="btn btn-outline-primary"
          (click)="csvDownloadService.handleDownload()">
          <i class="fas fa-download"></i>
          Download
        </a>

      </li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
