<main class="bg-light">
  <div class="container-fluid">
    <ul class="row d-flex">
      <li class="no-marker">
        <a routerLink="/portfolio/add" routerLinkActive="active" class="nav-link pointer">
          <i class="fas fa-plus-square"></i>
          Add Coin</a>
      </li>
      <li class="no-marker">
        <a routerLink="/portfolio/edit" class="nav-link pointer" routerLinkActive="active">
          <i class="fas fa-edit"></i>
          Edit Portfolio</a>
      </li>
      <li class="no-marker">
        <a
          id="downloadBtn"
          class="nav-link pointer"
          (click)="csvDownloadService.handleDownload()">
          <i class="fas fa-download"></i>
          Download
        </a>
      </li>
    </ul>

    <router-outlet></router-outlet>


  </div>
</main>
