<main class="bg-light">
  <div class="container-fluid">
    <nav class="py-1">
          <ul class="nav d-inline-flex justify-content-center align-items-center">

            <li class="nav-item px-1">
              <a routerLink="/portfolio/add" routerLinkActive="active" class="nav-link text-secondary pointer">
                <i class="fas fa-plus"></i>
                Add Coin</a>
            </li>

            <li class="nav-item px-1">
              <a routerLink="/portfolio/edit" class="nav-link text-secondary pointer" routerLinkActive="active">
                <i class="fas fa-minus"></i>
                Edit Portfolio</a>
            </li>

            <li class="nav-item px-1">
              <a
                class="nav-link text-secondary pointer"
                (click)="csvDownloadService.handleDownload()">
                <i class="fas fa-download"></i>
                Download
              </a>

            </li>

          </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</main>
