<div class="container-fluid">
  <div class="row justify-content-center">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="/portfolio/details" routerLinkActive="active" class="nav-link">Details</a>
      </li>
      <li class="nav-item">
        <a routerLink="/portfolio/add" routerLinkActive="active" class="nav-link">Add Coin</a>
      </li>
      <li class="nav-item">
        <a routerLink="/portfolio/edit" class="nav-link" routerLinkActive="active">Edit
          Portfolio</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="csvDownloadService.handleDownload()">Download
        </a>

      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="localStorageService.deleteCoins()"
        >Delete Portfolio
        </a>

      </li>
    </ul>

  </div>
  <router-outlet></router-outlet>

</div>
