<main>
  <div style="display: flex; justify-content: center; align-items: center;">
    <form (submit)="handleSubmit(); addCoin.reset();" #addCoin="ngForm">
      <div class="form-group">
        <label for="name">coin</label>
        <input
          list="coins"
          [(ngModel)]="model.name"
          id="name"
          name="name"
          class="form-control"
          required
          #name="ngModel"
        >
      </div>

      <datalist id="coins">
        <option *ngFor="let coin of coins" [value]="coin.id">
          <app-coin-icon [symbol]="coin.symbol"></app-coin-icon>
        </option>
      </datalist>


      <div class="form-group">
        <label for="hodl">hodl</label>
        <input
          class="form-control"
          type="number"
          id="hodl"
          name="hodl"
          [min]="0"
          step="any"
          [(ngModel)]="model.hodl"
          required
          #hodl="ngModel"
        >
      </div>
      <button
        [disabled]="addCoin.form.invalid"
        type="submit" class="btn btn-primary">Save!
      </button>
    </form>


  </div>

</main>
