<div class="card shadow col-sm-4 offset-sm-4 py-3 d-inline-flex justify-content-center align-items-center">
  <div class="card-body">
    <form (submit)="handleSubmit($event); addCoin.reset();" #addCoin="ngForm">
      <div class="form-group">
        <label for="asset">Asset</label>
        <input
          list="coins"
          spellcheck="false"
          [(ngModel)]="model.id"
          id="asset"
          name="asset"
          type="text"
          placeholder="bitcoin"
          class="form-control"
          required
          #name="ngModel"
        >
      </div>

      <datalist id="coins">
        <option *ngFor="let coin of coins" [value]="coin.id">
          <app-coin-icon [symbol]="coin.symbol.toLowerCase()"></app-coin-icon>
        </option>
      </datalist>


      <div class="form-group">
        <label for="quantity">quantity</label>
        <input
          class="form-control"
          type="number"
          id="quantity"
          name="quantity"
          [min]="0"
          step="any"
          placeholder="2.1"
          [(ngModel)]="model.quantity"
          required
          #quantity="ngModel"
        >
      </div>
      <button
        [disabled]="addCoin.form.invalid"
        type="submit" class="btn btn-primary">Save!
      </button>
    </form>
  </div>
</div>


