/* You can add global styles to this file, and also import other style files */

main {

    margin-top: 50px;
}

@media all and (max-width: 467px) {

    main {

        margin-top: 20px;
    }
}

th {

    cursor: pointer;
}
