/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/slate/bootstrap.min.css";
@import "~c3/c3.min.css";

main {

    margin-top: 50px;
}

@media all and (max-width: 467px) {

    main {

        margin-top: 20px;
    }
}

th {

    cursor: pointer;
}
