<main>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <table
        id="editPortfolio"
        class="table table-hover">
        <caption>Edit Portfolio</caption>
        <thead>
        <tr>
          <th>name</th>
          <th class="text-right">quantity</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let coin of portfolioService.portfolio">

          <td

          >
            {{coin.id}}

            <app-coin-icon [symbol]="mapNameToSymbol(coin.id)"></app-coin-icon>
          </td>
          <td class="text-right">
            <form
              *ngIf="editMode"
              (submit)="portfolioService.editCoin(coin.id, coinAge.value); editMode = false;">
              <input
                #coinAge
                value="{{coin.quantity}}"
                title="quantity of coins"
                class="form-control-inline"
              >
              <button class="btn btn-sm btn-primary" type="submit">save!</button>
            </form>

            <span *ngIf="!editMode" (click)="editMode = !editMode" style="cursor: pointer;">
              {{coin.quantity | number}}
            </span>
          </td>

          <td class="text-right">
            <button class="btn btn-sm btn-outline-danger" (click)="portfolioService.deleteCoin(coin.id)">
              <i class="fas fa-trash"></i>
            </button>
          </td>

        </tr>
        </tbody>
        <tfoot>

        </tfoot>

      </table>
    </div>
  </div>

  <div class="row my-3 d-flex justify-content-center align-items-center">
    <button
      class="btn btn-outline-danger"
      (click)="portfolioService.deleteCoins()"
    >
      <i class="fas fa-trash"></i>
      Delete Portfolio
    </button>

  </div>

</main>
