.nav-link {
  color: var(--gray-dark);
  text-transform: uppercase;
  letter-spacing: .2rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom .3s ease;
}

.nav-link:hover {
  border-bottom-color: lightgreen;
}

.nav-link.active {

 border-bottom-color: steelblue;
}
