<table class="table table-bordered table-striped">

  <thead>
  <tr>
    <td class="text-capitalize">
      id
    </td>
    <td class="text-capitalize text-right">hodl</td>
    <td class="text-capitalize text-right">$</td>
    <td class="text-capitalize text-right">btc</td>
    <td class="text-capitalize text-right">VALUE</td>
    <td class="text-capitalize text-right">%</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let coin of coins">
    <td>
      {{coin.id}}
      <img src="../../assets/icons/{{coin.id}}.png"/>
    </td>
    <td class="text-right">{{coin.coins | number: '1.0-4'}}</td>
    <td class="text-right">{{coin.price_usd | currency }}</td>
    <td class="text-right">{{coin.price_btc | number: '1.2-6'}}</td>
    <td class="text-right">{{coin.value | currency }}</td>
    <td class="text-right">{{(coin.value / total) | percent}}</td>
  </tr>

  <tr>
    <td colspan="6" class="text-right">
      Total: {{total | currency}}
    </td>
  </tr>
  </tbody>
</table>
